<!-- $Id: ads_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../../js/utils.js,selectzone.js,colorselector.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<form  name="theForm" method="post" enctype="multipart/form-data" action="../upload2012.php">
               <input type="file" name="Filedata" />
        <table width="90%" id="gallery-table"  align="center">
          <tr>
            <td>
              <a href="javascript:;" onclick="addImg(this)">[+]</a>

               <input type="file" name="img_url[]" />
            </td>
          </tr>
          <tr>
            <td>
                重复情况下是否更新<INPUT type="checkbox" name="iTo" value="1">
            </td>
          </tr>
         </table>
		 <input type="submit" class="button" value=" 确定 ">
</form>


<script language="JavaScript">
  function addImg(obj)
  {
      var src  = obj.parentNode.parentNode;
      var idx  = rowindex(src);
      var tbl  = document.getElementById('gallery-table');
      var row  = tbl.insertRow(idx + 1);
      var cell = row.insertCell(-1);
      cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
  }
  function dropImgResponse(result)
  {
      if (result.error == 0)
      {
          document.getElementById('gallery_' + result.content).style.display = 'none';
      }
  }

  function removeImg(obj)
  {
      var row = rowindex(obj.parentNode.parentNode);
      var tbl = document.getElementById('gallery-table');

      tbl.deleteRow(row);
  }
</script>
