BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
CAPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
ADDRESS {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
CODE {
	FONT-FAMILY: courier new,courier,monospace
}
KBD {
	FONT-FAMILY: courier new,courier,monospace
}
PRE {
	FONT-FAMILY: courier new,courier,monospace
}
SAMP {
	FONT-FAMILY: courier new,courier,monospace
}
INPUT {
	FONT-SIZE: 100%
}
BUTTON {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}

ABBR[title] {
	CURSOR: help; BORDER-BOTTOM: 1px dotted
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: none
}
A {
	outline: 0 none
}
LABEL {
	outline: 0 none
}
:focus {
	outline: 0 none
}
BODY {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Tahoma,arial,sans-serif
}
INPUT:unknown {
	COLOR: #ccc
}
:unknown {
	COLOR: #ccc
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; OVERFLOW: hidden; HEIGHT: 0px; content: " "
}
.clearfix {
	ZOOM: 1
}
HTML {
	WIDTH: 100%; HEIGHT: 100%
}
BODY {
	WIDTH: 100%; HEIGHT: 100%
}
BODY {
	BACKGROUND: #f2f2f2
}
.top {
	BACKGROUND: #ececec; PADDING-TOP: 25px; BORDER-BOTTOM: #d9d9d9 1px solid; HEIGHT: 75px
}
.logo {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 900px; PADDING-TOP: 0px
}
.content {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 900px; PADDING-TOP: 0px
}
.footer {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 900px; PADDING-TOP: 0px
}
.content {
	PADDING-TOP: 80px; POSITION: relative; HEIGHT: 500px
}
.loadimg {
	BACKGROUND: url(../images/welcome3.jpg) no-repeat 0px 80px
}
.suc_content {
	MARGIN: 0px auto; WIDTH: 903px; PADDING-TOP: 8px; HEIGHT: 630px
}
.suc_kuang {

}
.suc_botm {
	BACKGROUND: url(../images/bom_cor.png) no-repeat left bottom; HEIGHT: 62px
}
.links {
	DISPLAY: inline; ZOOM: 1
}
.links LI {
	BORDER-RIGHT: #f60 1px solid; FLOAT: left
}
.links LI.copyright {
	BORDER-RIGHT-STYLE: none
}
.footer {
	MARGIN-TOP: 95px; TEXT-ALIGN: center
}
.footer A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #f60; PADDING-TOP: 0px
}
.footer SPAN {
	MARGIN-LEFT: 10px; COLOR: #999
}
.sub_bg {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
.input_kuang {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
.input_b {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
.sub_login {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
.mt_login {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
.sub_bg {
	-moz-box-shadow: 0 1px 1px #f0f0f0; -webkit-box-shadow: 0 1px 1px #f0f0f0; box-shadow: 0 1px 1px #f0f0f0
}
.mt_login {
	-moz-box-shadow: 0 1px 1px #f0f0f0; -webkit-box-shadow: 0 1px 1px #f0f0f0; box-shadow: 0 1px 1px #f0f0f0
}
.input_b {
	-moz-box-shadow: 0 1px 1px #f0f0f0; -webkit-box-shadow: 0 1px 1px #f0f0f0; box-shadow: 0 1px 1px #f0f0f0
}
.sub_bg {
	BORDER-RIGHT: #dadada 1px solid; BORDER-TOP: #dadada 1px solid; DISPLAY: inline; FONT-SIZE: 14px; BACKGROUND: url(../images/s_bgs.png) repeat-x 0px -40px; BORDER-LEFT: #dadada 1px solid; WIDTH: 132px; CURSOR: pointer; BORDER-BOTTOM: #dadada 1px solid; ZOOM: 1; HEIGHT: 36px
}
.input_kuang {
	BORDER-RIGHT: #e3e3e3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 8px; FONT-SIZE: 14px; BACKGROUND: url(../images/s_bgs.png) #fff repeat-x 0px -118px; PADDING-BOTTOM: 8px; BORDER-LEFT: #e3e3e3 1px solid; WIDTH: 252px; PADDING-TOP: 8px; BORDER-BOTTOM: #e3e3e3 1px solid; HEIGHT: 20px; box-shadow: 0 1px 1px #fff
}
.error_put {
	BORDER-RIGHT: #f18447 2px solid; PADDING-RIGHT: 7px; BORDER-TOP: #f18447 2px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f18447 2px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #f18447 2px solid
}
.sub_login {
	BORDER-RIGHT: #dd621f 1px solid; BORDER-TOP: #dd621f 1px solid; BACKGROUND: url(../images/s_bgs.png) repeat-x 0px 0px; MARGIN: 0px auto; BORDER-LEFT: #dd621f 1px solid; WIDTH: 130px; CURSOR: pointer; BORDER-BOTTOM: #dd621f 1px solid; HEIGHT: 40px
}
.no_bg {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; CURSOR: pointer; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent
}
.sub_bg INPUT {
	WIDTH: 132px; HEIGHT: 36px
}
.sub_login INPUT {
	FONT: 700 16px/40px Î¢ÈíÑÅºÚ,ºÚÌå,ÎÄÈªæäºÚÌå; WIDTH: 130px; COLOR: #fff; HEIGHT: 40px; text-align:center;
}
.sub_login .sub_login_a {
	DISPLAY: inline-block; FONT: 700 16px/40px Î¢ÈíÑÅºÚ,ºÚÌå,ÎÄÈªæäºÚÌå; WIDTH: 130px; COLOR: #fff; ZOOM: 1; HEIGHT: 40px; TEXT-ALIGN: center; _display: inline
}
.mt_login {
	BORDER-RIGHT: #dadada 1px solid; BORDER-TOP: #dadada 1px solid; DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/s_bgs.png) repeat-x 0px -40px; BORDER-LEFT: #dadada 1px solid; WIDTH: 273px; CURSOR: pointer; COLOR: #dd621f; PADDING-TOP: 14px; BORDER-BOTTOM: #dadada 1px solid; ZOOM: 1; HEIGHT: 24px; TEXT-ALIGN: center
}
.pointer {
	CURSOR: pointer
}
.color_33 {
	COLOR: #333
}
.language {
	RIGHT: 20px; POSITION: absolute; TOP: -80px
}
.language A {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px
}
.language A.last {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.language A:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.marl_40 {
	MARGIN-LEFT: 40px
}
.mart_60 {
	MARGIN-TOP: 60px
}
.mart_30 {
	MARGIN-TOP: 30px
}
.flt_l {
	FLOAT: left
}
.flt_ln {
	FLOAT: left
}
.long_width {
	WIDTH: 326px
}
P.intrd {
	MARGIN-TOP: 10px; COLOR: #b0b0b0
}
P.lht {
	LINE-HEIGHT: 1.5
}
.val_m {
	VERTICAL-ALIGN: middle
}
I.val_m {
	FONT-SIZE: 14px; FONT-STYLE: normal
}
.val_mT {
	VERTICAL-ALIGN: middle; _vertical-align: baseline
}
.teln_m {
	TEXT-ALIGN: center
}
.por_r {
	POSITION: relative
}
.check_zi {
	FLOAT: left; MARGIN: 10px 0px 0px 10px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.back_link {
	MARGIN-TOP: 95px; DISPLAY: block; FONT-SIZE: 14px; COLOR: #f60; TEXT-DECORATION: underline
}
.register P {
	FONT-SIZE: 14px
}
.change {
	MARGIN-TOP: 26px; MARGIN-LEFT: 140px
}
.h4_suc {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; MARGIN: 0px 0px 10px 30px; COLOR: #ff9630; PADDING-TOP: 20px
}
.suc_p {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 20px; COLOR: #999; PADDING-TOP: 0px; BORDER-BOTTOM: #e3e3e3 1px dashed
}
.radio_quyu {
	FONT-SIZE: 14px; MARGIN: 50px 0px 20px 260px
}
.p_cor_hui {
	MARGIN: 4px 0px 0px 260px; COLOR: #999
}
.aln_r {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 80px; COLOR: #000; LINE-HEIGHT: 38px; TEXT-ALIGN: right
}
.juli {
	MARGIN-RIGHT: 50px
}
.hei_513 {
	BORDER-RIGHT: #dadada 1px solid; BORDER-TOP: #dadada 1px solid; BORDER-LEFT: #dadada 1px solid; BORDER-BOTTOM: #dadada 1px;
	height:100%;
}
.error_icontwo {
	DISPLAY: inline-block; BACKGROUND: url(../images/icos.png) no-repeat 0px -85px; VERTICAL-ALIGN: middle; WIDTH: 16px; MARGIN-RIGHT: 6px; HEIGHT: 16px
}
.error_icon {
	DISPLAY: inline-block; BACKGROUND: url(../images/icos.png) no-repeat 0px -32px; MARGIN: 0px 6px; VERTICAL-ALIGN: middle; WIDTH: 16px; HEIGHT: 16px
}
.ok_icon {
	DISPLAY: inline-block; BACKGROUND: url(../images/icos.png) no-repeat 0px -32px; MARGIN: 0px 6px; VERTICAL-ALIGN: middle; WIDTH: 16px; HEIGHT: 16px
}
.ok_icon {
	BACKGROUND: url(../images/icos.png) no-repeat 0px -16px
}
.la_height .sub_login {
	MARGIN-TOP: 6px
}
.littlepop {
	DISPLAY: none; RIGHT: 48px; POSITION: absolute; TOP: -35px
}
.popmessage {
	BORDER-RIGHT: #e8d76b 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e8d76b 1px solid; DISPLAY: none; PADDING-LEFT: 10px; BACKGROUND: url(../images/s_bgs.png) repeat-x 0px -252px; PADDING-BOTTOM: 10px; BORDER-LEFT: #e8d76b 1px solid; COLOR: #f00; LINE-HEIGHT: 1.1; PADDING-TOP: 10px; BORDER-BOTTOM: #e8d76b 1px solid; HEIGHT: 18px; border-radius: 3px; box-shadow: 0 1px 3px #e9e9e9
}
.little_corner {
	MARGIN-TOP: -2px; DISPLAY: block; Z-INDEX: 1; BACKGROUND: url(../images/icos.png) no-repeat 0px -74px; MARGIN-LEFT: 13px; OVERFLOW: hidden; WIDTH: 12px; POSITION: relative; HEIGHT: 11px
}
.prompt_info {
	Z-INDEX: 2; LEFT: 320px; WIDTH: 270px; COLOR: #999; LINE-HEIGHT: 1.5; POSITION: absolute; TOP: 10px
}
.tips_1 {
	DISPLAY: none
}
.tips_2 {
	DISPLAY: none
}
.tips_3 {
	DISPLAY: none
}
.validate_info {
	MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; COLOR: #999; LINE-HEIGHT: 14px
}
#validate_td .check_tips {
	LEFT: 130px
}
.Mradio {
	MARGIN-LEFT: -4px; MARGIN-RIGHT: 6px
}
.radio_quyu .Mradio {
	MARGIN-RIGHT: 4px
}
.register {
	MARGIN: 0px auto; WIDTH: 650px
}
.title {
	FONT-SIZE: 30px; COLOR: #ff7e00; PADDING-TOP: 140px
}
.register P {
	LINE-HEIGHT: 22px
}
.point_email {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; PADDING-TOP: 30px; BORDER-BOTTOM: #c9c9c9 1px dashed
}
.point_phone {
	FONT-SIZE: 14px; MARGIN: 45px 0px 0px
}
.point_time {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; FONT-SIZE: 14px; PADDING-BOTTOM: 25px; COLOR: #999; PADDING-TOP: 25px
}
.other {
	PADDING-RIGHT: 0px; PADDING-LEFT: 83px; PADDING-BOTTOM: 0px; COLOR: #999; PADDING-TOP: 30px; TEXT-ALIGN: left
}
.action {
	COLOR: #f60; TEXT-DECORATION: underline
}
.back {
	MARGIN-TOP: 55px; DISPLAY: inline-block; COLOR: #f60; TEXT-DECORATION: underline
}
.retrieve_pwd {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; FONT-WEIGHT: 400; FONT-SIZE: 24px; PADDING-BOTTOM: 30px; COLOR: #ff7e00; LINE-HEIGHT: 24px; PADDING-TOP: 30px; BORDER-BOTTOM: #e3e3e3 1px dashed; HEIGHT: 24px; TEXT-ALIGN: left
}
.tips {
	MARGIN-TOP: 98px; FONT-SIZE: 14px
}
.txt_input {
	MARGIN: 30px 0px 0px; TEXT-ALIGN: center
}
.txt_input .mt_login {
	FONT-WEIGHT: normal; MARGIN-LEFT: 4px; WIDTH: 110px; COLOR: #000; PADDING-TOP: 12px
}
.txt_input .goback {
	MARGIN-TOP: 30px
}
.next_btn {
	MARGIN-TOP: 60px; WIDTH: 130px; LINE-HEIGHT: 35px; HEIGHT: 35px
}
.email {
	FONT-SIZE: 14px; MARGIN: 30px 0px 0px 415px; TEXT-ALIGN: left
}
.phone {
	FONT-SIZE: 14px; MARGIN: 20px 0px 0px 415px; TEXT-ALIGN: left
}
.sure_btn {
	MARGIN-TOP: 50px; WIDTH: 130px; LINE-HEIGHT: 35px; HEIGHT: 35px
}
.email_tips {
	MARGIN-TOP: 142px; FONT-SIZE: 14px
}
.orange {
	FONT-SIZE: 14px; COLOR: #ff7e00; TEXT-DECORATION: underline
}
.new_pwd {
	MARGIN: 60px auto 0px; WIDTH: 510px
}
.new_pwd TABLE TD {
	PADDING-BOTTOM: 12px; LINE-HEIGHT: 38px; HEIGHT: 38px
}
.reset_pwd {
	MARGIN-BOTTOM: 20px
}
.p_tips {
	MARGIN-TOP: 110px; FONT-SIZE: 14px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.new_tips {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 80px; LINE-HEIGHT: 16px; PADDING-TOP: 0px; HEIGHT: 32px; TEXT-ALIGN: left
}
.resetpassword .new_pwd {
	MARGIN: 60px 0px 0px 100px
}
.resetpassword .reset_pwd {
	WIDTH: 800px
}
.resetpassword .new_tips {
	MARGIN: 0px 0px 0px 150px
}
.resetPass_content {
	MARGIN-TOP: 60px
}
.msgTips {
	LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
.hide {
	DISPLAY: none
}
.td1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 80px; LINE-HEIGHT: 1.5
}
.changePwd .td1 {
	WIDTH: 120px; TEXT-ALIGN: right
}
.font_14 {
	FONT-SIZE: 14px
}
.new_width {
	WIDTH: 290px
}
.changeP {
	MARGIN: 0px 0px 0px 120px
}
.pwd_p {
	FONT-SIZE: 14px; MARGIN: 0px 0px 20px 84px; LINE-HEIGHT: 1.1
}
.big_name {
	FONT-WEIGHT: normal; FONT-SIZE: 24px; COLOR: #ff7e00; LINE-HEIGHT: 1.1
}
.only_tips {
	FONT-SIZE: 12px; MARGIN: 10px 10px 0px 180px; COLOR: #999
}
.detail {
	MARGIN: 50px 0px 0px 200px
}
.user_info {
	MARGIN-BOTTOM: 40px
}
.info {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 30px; LINE-HEIGHT: 25px; PADDING-TOP: 30px; BORDER-BOTTOM: #e3e3e3 1px dashed; HEIGHT: 25px
}
.info .left {
	DISPLAY: inline-block; FONT-WEIGHT: 400; FONT-SIZE: 24px; FLOAT: left; COLOR: #ff7e00
}
.info .right {
	DISPLAY: inline-block; FONT-SIZE: 12px; FLOAT: right
}
.info .right A {
	COLOR: #000
}
.photo {
	BORDER-RIGHT: #dcdcdc 1px solid; BORDER-TOP: #dcdcdc 1px solid; FLOAT: left; BORDER-LEFT: #dcdcdc 1px solid; WIDTH: 120px; BORDER-BOTTOM: #dcdcdc 1px solid; -moz-box-shadow: 0 1px 2px #CDCDCD; -webkit-box-shadow: 0 1px 2px #CDCDCD; box-shadow: 0 1px 2px #CDCDCD
}
.photo IMG {
	DISPLAY: block; WIDTH: 120px; HEIGHT: 120px
}
.photo A {
	MARGIN-TOP: 15px; DISPLAY: block; FONT-SIZE: 12px; COLOR: #ff7e00; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
.mess {
	FLOAT: left
}
.mess TD {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 22px; HEIGHT: 14px
}
.mess TD.td_l {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; WIDTH: 80px; COLOR: #999; TEXT-ALIGN: right
}
.p_pop {
	DISPLAY: inline; ZOOM: 1; POSITION: relative
}
.pop {
	DISPLAY: none; PADDING-LEFT: 10px; Z-INDEX: 10; LEFT: 16px; MARGIN-LEFT: 10px; WIDTH: 400px; POSITION: absolute; TOP: -24px
}
.hover .pop {
	DISPLAY: inline; ZOOM: 1
}
.doubt {
	DISPLAY: inline; BACKGROUND: url(../images/icos.png) no-repeat 0px 0px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 16px; CURSOR: pointer; ZOOM: 1; HEIGHT: 16px
}
.td_lht {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d8d8d8 1px solid; DISPLAY: inline; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../images/s_bgs.png) repeat-x 0px -204px; PADDING-BOTTOM: 6px; BORDER-LEFT: #d8d8d8 1px solid; COLOR: #999; LINE-HEIGHT: 1.5; PADDING-TOP: 6px; BORDER-BOTTOM: #d8d8d8 1px solid; ZOOM: 1; border-radius: 5px; -moz-box-shadow: 0 3px 3px #f0f0f0; -webkit-box-shadow: 0 3px 3px #f0f0f0; box-shadow: 0 3px 3px #f0f0f0
}
.lit_tip {
	DISPLAY: inline; Z-INDEX: 11; BACKGROUND: url(../images/icos.png) no-repeat 0px -63px; LEFT: -1px; FLOAT: left; OVERFLOW: hidden; WIDTH: 12px; ZOOM: 1; POSITION: absolute; TOP: 16px; HEIGHT: 11px
}
.servie {
	WIDTH: 564px
}
.serve_title {
	CLEAR: both; FONT-WEIGHT: bold; MARGIN-BOTTOM: 11px; PADDING-BOTTOM: 11px; COLOR: #ff7e00; BORDER-BOTTOM: #ff7e00 1px solid
}
.mess TD A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-LEFT: 20px; COLOR: #ff7e00; TEXT-DECORATION: underline
}
.servie A.mt_login {
	FONT-WEIGHT: normal; WIDTH: 130px; COLOR: #000; LINE-HEIGHT: 36px; PADDING-TOP: 0px; HEIGHT: 36px
}
.servie A.mt_login:hover {
	BORDER-RIGHT: #dd621f 1px solid; BORDER-TOP: #dd621f 1px solid; BACKGROUND: url(../images/sub_h.png) repeat-x 0px 0px; BORDER-LEFT: #dd621f 1px solid; COLOR: #fff; BORDER-BOTTOM: #dd621f 1px solid
}
.mess TD A.mar_no {
	MARGIN-LEFT: 0px
}
.sub_links {
	PADDING-TOP: 10px
}
.sub_links LI {
	FLOAT: left; WIDTH: 144px; HEIGHT: 50px
}
.sub_links LI.the_one {
	WIDTH: 132px
}
.check_tips {
	DISPLAY:block; PADDING-LEFT: 20px; BACKGROUND: url(../images/icosfories.png) no-repeat 0px 0px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 16px; HEIGHT: 16px
}
.succ_tips {
	DISPLAY: none; BACKGROUND: url(../images/icos.png) no-repeat 0px -16px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; WIDTH: 16px; LINE-HEIGHT: 16px; HEIGHT: 16px
}
.imgerror .errortip {
	BORDER-RIGHT: #f18447 2px solid; PADDING-RIGHT: 7px; BORDER-TOP: #f18447 2px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f18447 2px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #f18447 2px solid
}
.nosame .errortip {
	BORDER-RIGHT: #f18447 2px solid; PADDING-RIGHT: 7px; BORDER-TOP: #f18447 2px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f18447 2px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #f18447 2px solid
}
.error .errortip {
	BORDER-RIGHT: #f18447 2px solid; PADDING-RIGHT: 7px; BORDER-TOP: #f18447 2px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f18447 2px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #f18447 2px solid
}
.empty .errortip {
	BORDER-RIGHT: #f18447 2px solid; PADDING-RIGHT: 7px; BORDER-TOP: #f18447 2px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f18447 2px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #f18447 2px solid
}
.repeat .errortip {
	BORDER-RIGHT: #f18447 2px solid; PADDING-RIGHT: 7px; BORDER-TOP: #f18447 2px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f18447 2px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #f18447 2px solid
}
.msgTips {
	Z-INDEX: 5; BACKGROUND: #000; FILTER: alpha(opacity=60); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; opacity: .6
}
.msgInfo {
	BORDER-RIGHT: #9f9f9f 1px solid; PADDING-RIGHT: 30px; BORDER-TOP: #9f9f9f 1px solid; PADDING-LEFT: 30px; FONT-WEIGHT: 600; FONT-SIZE: 14px; Z-INDEX: 10; BACKGROUND: #fcfcfc; LEFT: 50%; PADDING-BOTTOM: 30px; MARGIN: -30px auto 0px -130px; BORDER-LEFT: #9f9f9f 1px solid; WIDTH: 200px; COLOR: #000; PADDING-TOP: 30px; BORDER-BOTTOM: #9f9f9f 1px solid; POSITION: absolute; TOP: 50%; HEIGHT: 30px; TEXT-ALIGN: center; box-shadow: 0 0 10px rgba(0,0,0,0.4)
}
.hide {
	DISPLAY: none
}
.suc_limit {
	HEIGHT: 586px
}
.hei_444 {
	BORDER-RIGHT: #dadada 1px solid; BORDER-TOP: #dadada 1px solid; BORDER-LEFT: #dadada 1px solid; BORDER-BOTTOM: #dadada 0px; HEIGHT: 444px
}
.left_name {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FLOAT: left
}
.m_name {
	COLOR: #333
}
.m_func {
	MARGIN-LEFT: 10px; COLOR: #ff7e00
}
.guide {
	MARGIN: 26px
}
.guide UL {
	BACKGROUND: #ebebeb; WIDTH: 100%
}
.guide LI {
	BACKGROUND: #ebebeb; FLOAT: left; COLOR: #666; LINE-HEIGHT: 30px; POSITION: relative; HEIGHT: 30px; TEXT-ALIGN: center
}
.li1 {
	WIDTH: 212px
}
.li2 {
	WIDTH: 216px
}
.li3 {
	WIDTH: 216px
}
.li4 {
	WIDTH: 205px
}
.li5 {
	WIDTH: 430px
}
.li6 {
	WIDTH: 419px
}
.guide LI SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-RIGHT: 10px
}
.guide LI EM {
	DISPLAY: block; RIGHT: 0px; WIDTH: 13px; POSITION: absolute; TOP: 0px; HEIGHT: 30px
}
.guide LI .em1 {
	BACKGROUND: url(../images/huijiantou.png) no-repeat
}
.guide LI.current {
	BACKGROUND: #fd843f; COLOR: #fff
}
.guide LI.current SPAN {
	COLOR: #fff
}
.guide LI.current .em1 {
	BACKGROUND: url(../images/jiantou.png) no-repeat
}
.guide LI.current .em2 {
	BACKGROUND: url(../images/caijiantou.png) no-repeat; LEFT: -13px; TOP: 0px
}
A.resent {
	MARGIN-LEFT: 20px; COLOR: #ff7800; TEXT-DECORATION: underline
}
P.sucss {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 62px 0px 52px; LINE-HEIGHT: 16px; TEXT-ALIGN: center
}
.sucs_div {
	TEXT-ALIGN: center
}
.sucs_div .mt_login {
	FONT-WEIGHT: normal; WIDTH: 118px; COLOR: #000; PADDING-TOP: 10px; HEIGHT: 26px
}
P.sent_p {
	FONT-SIZE: 14px; MARGIN: 40px 0px; LINE-HEIGHT: 24px; TEXT-ALIGN: center
}
P.sent_p B {
	MARGIN-LEFT: 10px
}
.a_cancel {
	MARGIN-TOP: 26px; TEXT-ALIGN: center
}
.a_cancel A {
	COLOR: #ff7e00; TEXT-DECORATION: underline
}
.mar_k LABEL {
	DISPLAY: block; MARGIN-BOTTOM: 14px; VERTICAL-ALIGN: middle
}
.mar_k {
	MARGIN-TOP: 100px; FONT-SIZE: 14px
}
.mar_k2 {
	MARGIN-TOP: 60px; FONT-SIZE: 14px
}
.some_tips {
	MARGIN-BOTTOM: 28px; LINE-HEIGHT: 1.1; TEXT-ALIGN: center
}
.mar_k LABEL {
	MARGIN-LEFT: 386px
}
.mar_k2 LABEL {
	DISPLAY: block; MARGIN-BOTTOM: 6px; MARGIN-LEFT: 290px; VERTICAL-ALIGN: middle
}
.mar_k .sub_bg {
	DISPLAY: block; MARGIN: 50px auto 0px
}
.em_check {
	MARGIN: -12px 0px 26px; TEXT-ALIGN: center
}
.em_check .input_kuang {
	WIDTH: 80px
}
.em_sub {
	TEXT-ALIGN: center
}
.em_sub .sub_login {
	FLOAT: none; MARGIN: 0px auto
}
.pos_new {
	PADDING-RIGHT: 0px; PADDING-LEFT: 290px; PADDING-BOTTOM: 0px; PADDING-TOP: 30px
}
#vKey {
	WIDTH: 86px
}
#vKey_text {
	WIDTH: 86px
}
.goback {
	MARGIN-TOP: 60px; TEXT-ALIGN: center
}
.goback A {
	COLOR: #ff7e00; TEXT-DECORATION: underline
}
.ph_tips {
	MARGIN-TOP: 70px; FONT-SIZE: 14px; TEXT-ALIGN: center
}
.email_tip {
	FONT-SIZE: 14px; PADDING-BOTTOM: 40px; MARGIN: 140px 0px 0px; TEXT-ALIGN: center
}
.checkcode {
	WIDTH: 100px
}
.checkcode_span {
	DISPLAY: inline; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 200px; ZOOM: 1
}
.checkcode_span I {
	FONT-STYLE: normal
}
.code_error {
	COLOR: #f60745
}
.mes_p {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px 0px 30px 40px; COLOR: #333; LINE-HEIGHT: 1.5
}
.mes_p A {
	MARGIN-LEFT: 10px; COLOR: #ff7e00; TEXT-DECORATION: underline
}
.mes_p SPAN {
	MARGIN-RIGHT: 10px
}
.padt_20 {
	PADDING-TOP: 20px
}
.content_p_center {
	PADDING-LEFT: 66px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333; LINE-HEIGHT: 1.5
}
.content_p {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 20px 0px 0px 180px; COLOR: #333; LINE-HEIGHT: 1.5
}
.new_mar {
	MARGIN: 10px 0px 20px 180px
}
.mar_tp {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 100px 0px 60px; COLOR: red; TEXT-ALIGN: center
}
.new_con {
	MARGIN: 0px auto; WIDTH: 320px
}
.new_lg {
	FONT-SIZE: 16px; MARGIN-LEFT: 40px; WIDTH: 130px; PADDING-TOP: 10px; HEIGHT: 30px
}
.new_sg {
	FLOAT: left; WIDTH: 130px
}
.appeal-process {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; PADDING-BOTTOM: 40px; PADDING-TOP: 40px
}
.appeal-process H4 {
	FONT-SIZE: 16px; COLOR: #333
}
.appeal-process P {
	FONT-SIZE: 14px; MARGIN: 10px 0px; COLOR: #2c2c2c; LINE-HEIGHT: 1.5
}
.appeal-process SPAN {
	COLOR: #ff7e00
}
.appeal-process P.text-indent {
	TEXT-INDENT: 28px
}
.appeal-process-con {
	PADDING-LEFT: 28px
}
.apc-left {
	FLOAT: left
}
.apc-right {
	FLOAT: left
}
.apc-right {
	WIDTH: 680px
}
.cannot-used {
	MARGIN-TOP: 20px; FONT-SIZE: 14px
}
.cannot-used A {
	COLOR: #ff7e00; TEXT-DECORATION: underline
}
.inputvkey {
	WIDTH: 86px
}
.usi .mess {
	MARGIN-LEFT: 10px
}
.bif .sucs_div .mt_login {
	WIDTH: 200px
}
.sakc .sucs_div .mt_login {
	WIDTH: 200px
}
.bia .ph_mar SPAN {
	WIDTH: 260px
}
.bia .marl_1 {
	PADDING-LEFT: 275px
}
.snsu .mess {
	MARGIN-LEFT: 10px; WIDTH: 430px
}
.enchpen .prompt_info {
	PADDING-TOP: 0px
}
.sra .sub_bg {
	WIDTH: 180px
}
.sra .sub_bg INPUT {
	WIDTH: 180px
}
.nouse .suc_kuang {
	BACKGROUND: url(../images/con_bg.png) #fdfdfd repeat-x left bottom
}
.nouse {
	HEIGHT: 1060px
}
.nouse .hei_513 {
	HEIGHT: 974px
}
.nouse .apc-right {
	WIDTH: 700px
}
.nousedever {
	MARGIN-LEFT: 10px; COLOR: #ff7e00; TEXT-DECORATION: underline
}
.pointer {
	CURSOR: pointer
}
.tooltips {
	DISPLAY: inline; VERTICAL-ALIGN: 2px; ZOOM: 1; POSITION: relative
}
.tooltips .bubble {
	DISPLAY: none; PADDING-LEFT: 10px; Z-INDEX: 10; LEFT: 72px; MARGIN-LEFT: 10px; POSITION: absolute; TOP: -24px
}
.hover .bubble {
	DISPLAY: inline; ZOOM: 1
}
.tooltips .doubt {
	DISPLAY: inline-block; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; WIDTH: 70px; CURSOR: pointer; HEIGHT: 16px
}
.tooltips .bubble-content {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d8d8d8 1px solid; DISPLAY: inline-block; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 6px; BORDER-LEFT: #d8d8d8 1px solid; WIDTH: 220px; COLOR: #999; LINE-HEIGHT: 1.5; PADDING-TOP: 6px; BORDER-BOTTOM: #d8d8d8 1px solid; border-radius: 5px; -moz-box-shadow: 0 3px 3px #f0f0f0,0 -1px 0 #fff inset; -webkit-box-shadow: 0 3px 3px #f0f0f0,0 -1px 0 #fff inset; box-shadow: 0 3px 3px #f0f0f0,0 -1px 0 #fff inset
}
.tooltips .bubble-corner {
	DISPLAY: inline-block; Z-INDEX: 11; BACKGROUND: url(../images/icos-new.png) no-repeat 0px 0px; LEFT: -1px; OVERFLOW: hidden; WIDTH: 12px; POSITION: absolute; TOP: 16px; HEIGHT: 11px
}
.suc_content {
	HEIGHT: auto
}
.account_tips {
	FONT-SIZE: 14px; MARGIN-LEFT: 180px; LINE-HEIGHT: 16px; HEIGHT: 32px; TEXT-ALIGN: left
}
DL {
	MARGIN-BOTTOM: 20px
}
.dt_l {
	FLOAT: left; MARGIN-BOTTOM: 12px; VERTICAL-ALIGN: middle; HEIGHT: 38px
}
.dd_r {
	FLOAT: left; MARGIN-BOTTOM: 12px; VERTICAL-ALIGN: middle; HEIGHT: 38px
}
.dt_l {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 170px; LINE-HEIGHT: 38px; TEXT-ALIGN: right
}
.dd_r {
	WIDTH: 580px
}
.dd_r_pos {
	POSITION: relative
}
.dd_r INPUT {
	DISPLAY: block; FLOAT: left
}
.dd_r SPAN {
	FLOAT: left
}
.dd_r P {
	FONT-SIZE: 14px; LINE-HEIGHT: 38px
}
.check_tips {
	MARGIN-TOP: 11px
}
.newerror .error_tip {
	DISPLAY: block
}
.nosame .no_tips {
	DISPLAY: block
}
.error .error_tip {
	DISPLAY: block
}
.empty .empty_tip {
	DISPLAY: block
}
.repeat .repeat_tip {
	DISPLAY: block
}
.succ .succ_tips {
	DISPLAY: block
}
.error .for_error_tip {
	DISPLAY: inline; ZOOM: 1
}
.empty .for_empty_tip {
	DISPLAY: inline; ZOOM: 1
}
.error .littlepop {
	DISPLAY: inline; ZOOM: 1
}
.empty .littlepop {
	DISPLAY: inline; ZOOM: 1
}
.prompt_info {
	MARGIN-LEFT: 10px; PADDING-TOP: 10px
}
.validate_info {
	MARGIN-LEFT: 10px; PADDING-TOP: 10px
}
.prompt_info {
	POSITION: static
}
.changP .dt_l {
	WIDTH: 210px
}
.changP_container {
	MARGIN: 60px auto 0px
}
.changP_container .dd_r {
	WIDTH: 600px
}
.changP .account_tips {
	MARGIN-LEFT: 220px
}
.resetP .dd_r {
	WIDTH: 680px
}
.resetp .prompt_info {
	PADDING-TOP: 0px
}
.bindA DL {
	MARGIN: 60px 0px 30px
}
.bindA .dt_l {
	WIDTH: 270px
}
.bindA .dd_r {
	WIDTH: 620px
}
.bindA .input_kuang {
	WIDTH: 232px
}
.bindA .sub_login {
	DISPLAY: inline; MARGIN: 0px 0px 0px 280px; ZOOM: 1
}
.reg-account .getCode {
	FONT-WEIGHT: normal; FLOAT: left; MARGIN-LEFT: 4px; WIDTH: 90px; COLOR: #000; PADDING-TOP: 0px; HEIGHT: 38px
}
.upgrade .getCode {
	FONT-WEIGHT: normal; FLOAT: left; MARGIN-LEFT: 4px; WIDTH: 90px; COLOR: #000; PADDING-TOP: 0px; HEIGHT: 38px
}
.reg-account .code-area {
	WIDTH: 106px
}
.reg-account B {
	MARGIN-TOP: -8px; DISPLAY: block; FONT-WEIGHT: normal; POSITION: relative
}
.upgrade B {
	MARGIN-TOP: -8px; DISPLAY: block; FONT-WEIGHT: normal; POSITION: relative
}
.reg-account .dd_r {
	WIDTH: 680px
}
.reg-account IMG {
	FLOAT: left; MARGIN: -10px 10px 0px 5px; VERTICAL-ALIGN: middle; CURSOR: pointer
}
.upgrade .checkcode {
	WIDTH: 100px
}
.reg-account .checkcode {
	WIDTH: 100px
}
.reg-account .checkcode_span {
	PADDING-TOP: 8px
}
.reg-account .radio_quyu {
	MARGIN: 50px 0px 20px 180px
}
.reg-account .p_cor_hui {
	MARGIN: 4px 0px 0px 180px
}
.reg-account .p_cor_hui A {
	COLOR: #ff7e00; TEXT-DECORATION: underline
}
.cor_yellow {
	COLOR: #ff7e00; TEXT-DECORATION: underline
}
.upgrade .noSend {
	CURSOR: default; COLOR: #999
}
.reg-account .noSend {
	CURSOR: default; COLOR: #999
}
.forgetpassword .sub_bg {
	DISPLAY: block; MARGIN: 60px auto 0px
}
.forget_area {
	MARGIN: 30px auto 14px; WIDTH: 350px; POSITION: relative
}
.forget_area .littlepop {
	RIGHT: -12px
}
.upgrade .code-area {
	WIDTH: 106px
}
.upgrade .sub_login {
	MARGIN: 10px 0px 0px
}
.login-intro {
	MARGIN-LEFT: 180px
}
.vfphone DL {
	MARGIN-TOP: 70px
}
.vfphone .dt_l {
	WIDTH: 224px
}
.vfphone .dd_r {
	WIDTH: 660px
}
.vfphone .input_kuang {
	WIDTH: 90px
}
.vfphone .dd_r_span {
	MARGIN-LEFT: 10px; LINE-HEIGHT: 1.5
}
.vfphone .dd_r_span A {
	COLOR: #ff7e00; TEXT-DECORATION: underline
}
.vfphone .sub_login {
	DISPLAY: inline; MARGIN-LEFT: 234px; ZOOM: 1
}
.vfphone .cannot-used {
	MARGIN-LEFT: 234px
}
.em_errorp {
	CLEAR: both; MARGIN-TOP: 10px; FONT-SIZE: 12px; COLOR: red; TEXT-ALIGN: center
}
.suc_limit P.sent_p {
	MARGIN: 60px 0px 20px
}
.upgrade .dd_r {
	WIDTH: 720px
}
.regs .dd_r {
	WIDTH: 720px
}
.upus .prompt_info {
	WIDTH: 260px; PADDING-TOP: 0px
}
.regs .prompt_info {
	WIDTH: 260px; PADDING-TOP: 0px
}
.upus .getCode {
	WIDTH: 180px
}
.regs .getCode {
	WIDTH: 180px
}
.upus .validate_info {
	WIDTH: 480px; LINE-HEIGHT: 1.5; PADDING-TOP: 0px
}
.regs .validate_info {
	WIDTH: 480px; LINE-HEIGHT: 1.5; PADDING-TOP: 0px
}
.upus #phoneCode {
	WIDTH: 230px
}
.regs #phoneCode {
	WIDTH: 230px
}
.upus #phoneCode B {
	MARGIN-TOP: -10px; DISPLAY: block; FONT-WEIGHT: normal
}
.upus .en-width {
	WIDTH: 100px
}
.regs .en-width {
	WIDTH: 100px
}
.vetp .dt_l {
	WIDTH: 260px
}
.vetp .dd_r {
	WIDTH: 630px
}
.vetp .sub_login {
	MARGIN-LEFT: 270px
}
.vetp .cannot-used {
	MARGIN-LEFT: 270px
}


